[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/letsencrypt"]
	path = modules/letsencrypt
	url = https://github.com/danzilio/puppet-letsencrypt.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/ssh_keygen"]
	path = modules/ssh_keygen
	url = https://github.com/maestrodev/puppet-ssh_keygen.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
